.container {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.board {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 60px;
    border:1px solid black;
}

@media (max-width: 700px) {

    td {
        padding: 30px;
        border:1px solid black;
    }

}